<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <form action='/home' method='POST'>
        <div><span>Username:</span> <input name='login' type='text' /></div>
        <div> <span>Password:</span> <input name='password' type='password' /></div>
        <div><button type='submit'>Send</button></div>
    </form>
</body>

</html>